[submodule "evmc"]
	path = evmc
	url = https://github.com/exsat-network/evmc.git
	branch = vaulta-evm
[submodule "evm-benchmarks"]
	path = test/evm-benchmarks
	url = https://github.com/ipsilon/evm-benchmarks
